.Main {
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
}

.Main h2 {
	font-size: 2em;
}

.header {

}

.header button {
	display: inline-block;
	border: 1px solid #3c3c3c;
	background-color: transparent;
	border-radius: 4px;
	padding: 6px 0px;
	min-width: 70px;
	color: #3c3c3c;
	cursor: pointer;
	z-index: 1000;

	transition: all .3s;
}

.header button:hover {
	color: tomato;
	border-color: tomato;
}

.header .projectId {
	display: inline-block;
	width: 100px;
	text-align: center;
}

.header .projectName, .header .projectDescription {
	margin: 0 0 5px 0;
	max-width: 500px;
	margin: auto;
}

.header {
	padding-bottom: 10px;
	/*border-bottom: 1px solid #c6c6c6;*/
	box-shadow: 0px 2px 5px #afafaf;
}

.projects {
	padding: 4px;
	margin: 0;
	overflow: auto;
	margin: auto;
}

.project {
	width: 200px;
	height: 200px;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	margin: 4px;
	position: relative;
	float: left;
	cursor: pointer;
}

.project img {
	width: 200px;
	height: 200px;
}

.overlay {
	content:'\A';
	position: absolute;
	width:200px;height:200px;
	top:0; left:0;
	background:rgba(0,0,0,0.6);
	opacity:1;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.project-name, .project-id, .project-description {
	color: white;
	left: 10px;
	position: absolute;
	text-align: left;
	font-weight: 100;
	font-family: 'Yantramanav', sans-serif;

	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

.project:hover .project-name,
.project:hover .project-id,
.project:hover .project-description {
	color: tomato;
}

.project-name {
	top: 30px;
}

.project-id {
	top: 10px;
}

.project-description {
	top: 64px;
	padding-right: 10px;
}

@media only screen and (max-width: 416px) {
	.projects {
		width: 216px;
	}
}

@media only screen and (min-width: 416px) {
	.projects {
		width: 424px;
	}
}

@media only screen and (min-width: 624px) {
	.projects {
		width: 632px;
	}
}

@media only screen and (min-width: 832px) {
	.projects {
		width: 840px;
	}
}

@media only screen and (min-width: 1040px) {
	.projects {
		width: 1048px;
	}
}
